body {
    background-image: url("http://getwallpapers.com/wallpaper/full/7/f/9/510797.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: auto;
    background-repeat: no-repeat;
}
h1 {
    color: red;
}
nav {
    font-family: 'Do Hyeon', sans-serif;
    
}
img {
    height: 200px;
}
footer {
    display: flex;
    text-align: center;
    align-items: flex-end;
}